{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{asset('css/style.css')}}" />
{% endblock %}

{% block body %}
<!-- Advertising Banner Start -->
<div class="container-fluid pb-3 pt-5">
    <div class="row">
        <div class="col-md-6">
            <a href="" data-ad-type="horizontal">
                <img class="img-fluid" src="https://file.hstatic.net/200000722513/file/rog_ally_1000x320_5848f24316ac497fac5feb3e0c2461c8.jpg" alt="Advertising Banner">
            </a>
        </div>
        <div class="col-md-6">
            <a href="" data-ad-type="horizontal">
                <img class="img-fluid" src="https://file.hstatic.net/200000722513/file/top_promotion_banner_2_c859a262794a4bd2a8f0b0fa59748b26.png" alt="Advertising Banner">
            </a>
        </div>
    </div>
</div>
<!-- Advertising Banner End -->

<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Categories</span>
    </h2>
    <div class="row px-xl-5 pb-3">
        {% for category in category %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{{ path('app_productofcate', {'id': category.id})}}">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{{ asset('uploads/sanpham/' ~ category.getPhoto()) }}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>{{ category.getName() }}</h6>
                        {# <small class="text-body">30 Products</small> #}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Categories End -->
{% endblock %}